/* Colour Scheme
    Navy Blue: #3c4e69
    cream: #f2eee4
    terrecotta / brown: #a67258
    */

h1 {
    font-family: "Bodoni Moda", sans-serif;
    color: #3c4e69;
}

h2 {
    font-family: "Italianno", script;
    color: #3c4e69;
}

body {
    background-color: #f2eee4;
    font-family: "Bodoni Moda", sans-serif;
    color:#3c4e69;
}

.hover:hover {
    color: #a67258;
}

.buttonHover:hover {
    background-color: #a67258;
}

.centered {
    text-align: center;
    justify-content: center;
}


/* NAV BAR */

nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.active {
    font-style: italic;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3c4e69;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: #f2eee4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 36px;
  }
 
/* HERO & HEADER */

#title {
    background: url(../images/hero_image-lightened.jpg) no-repeat;
    background-size: cover;
    padding: 15px;
    text-align: center;
    font-size: xx-large;
    padding-top: 100px;
}

/* OUR CLASSES */

#classes > div > h4, hr{
    font-size: xx-large;
    margin: 36px;
}

#classImgs {
    display: flex;
    flex-direction: row;
}

#classImgs > div {
    border-radius: 8px;
    width: 16%;
    display: inline-block;
    margin: 36px;
}

#classImgs > div > img{
    border-radius: 40px;
    width: 100%;
}

.classHead > h4 {
    display: flex;
    flex-direction: column;
    font-size: large;
}

.classHead > p > a {
    color: #3c4e69;
    text-decoration: none;
    font-weight: bold;
}

/* BOOKING BUTTON */

#bookingButton {
    background-color: #3c4e69;
    font-family: "Bodoni Moda", sans-serif;
    border-radius: 80px;
    padding: 36px;
    margin-bottom: 72px;
}

#bookingButton > a {
    color: #f2eee4;
    text-decoration: none;
}

#bookingButton:hover {
    transition: 0.5s;
    background-color: #a67258;
}

/* MAP */

#mapimg:hover {
    transition: 0.5s;
    -webkit-filter: blur(0); /* Safari 6.0 - 9.0 */
    filter: blur(0);
}

#mapimg {
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
    z-index: 0;
}

#map{
    padding-bottom: 36px;
}

#map > h5 > a {
    color: #3c4e69;
    text-decoration: none;
}

#map > h5 > a:hover {
    color: #a67258;
    text-decoration: none;
}

/* FOOTER */ 

footer {
    background-color: #3c4e69;
    padding: 36px;
}

.icon {
    color: #f2eee4;
    margin: 50px;

}

.icon:hover {
    transition: 0.5s;
    color: #a67258;
}

#contactUs > h5{
    color: #f2eee4;
    font-size:xx-large;
}


/* BOOKING NAV */ 

nav > ul > h1 {
    color: #f2eee4;
    float: left;
    padding-left: 36px;
    font-size: xx-large;
}

/* BOOKING BODY */

#booking {
    background: url(../images/hero_image-lightened.jpg) no-repeat;
}

#box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10% 2% 24% 2%;
    height: 1000px;
    background-color: #3c4e69;
    z-index: 0;
}

#box1 > h3 {
    color: #f2eee4;
    font-size: xx-large;
    padding: 3%;
    align-items: start;
    margin-top: -1%;
}

#box2 {
    margin: -4% 2% 5% 2%;
    height: 900px;
    background-color: #f2eee4;
    border-radius: 68px;
}

#questions {
    margin: 5% 5% auto 5%;
}

#questions > h5 {
    font-size: large;
    margin: 0;
}

table {
    display: flex;
    justify-content: center;
    align-items: center;
}

table, th, td {
    border: 1px solid #3c4e69;
    border-collapse: collapse;
  }

.bookingHover:hover {
    background-color: #a67258;
    color: #f2eee4;
}